/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
  }

ol {
  color: #000000;
  font-family: monospace;
  margin-left: 10px;
}

pre-code {
  color: #000000;
  font-family: monospace;
  margin-left: 10px;
  text-align: left;
}

#file-image {
  float: right;
  width: 160px;
  height: auto;
  border: solid 1px black;
}
