.special,
.special * {
  background-color: #5185a6;
  color: #e5e7ec;
} 

#output {
  color: #3b7093;
  font-family: monospace;
  margin-left: 10px;
}

image {
  height: 10px;
}

.talent-image {
  height: 200px; 
}