h1 {
  color: #5185a6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  color: #3b7093;
  font-family: monospace;
  margin-left: 10px;
}

img {
  width: 500px;
  min-height: 200px;
  border-radius: 8px;
}

#content {
  background-color: #e5e7ec;
  min-height: 00px;
  padding: 10px;
  margin: 10px;
  border: solid 1px #214156;
  font-size: 20px;

  display: flex;
  gap: 10px;
  align-items: first baseline;
  justify-content: flex-start;
}

.child{
  flex: 1;
}